
<div class="col-md-12 image_right snipcss0-6-6-7">
    <div class="title_module tab_border snipcss0-7-7-8">
        <div class="border_bottom_title clearfix snipcss0-8-8-9">
        </div>
        <div class="title_top_menu tab_link_module snipcss0-8-8-10">
            <h3 class="snipcss0-9-10-11">
                <a href="new-arrivals" title="New Arrivals" class="snipcss0-10-11-12">
                    New Arrivals
                </a>
            </h3>
        </div>
    </div>
    <div class="prd_sec margin-top-20 snipcss0-7-7-13">
        <div class="products owl-carousel owl-theme products-view-grid owl-loaded owl-drag snipcss0-8-13-14" data-nav="true" data-lg-items="5" data-md-items="4" data-sm-items="3" data-xs-items="2" data-margin="20">
            <div class="owl-stage-outer snipcss0-9-14-15">
                <div class="owl-stage snipcss0-10-15-16 style-SftjL" id="style-SftjL">
                    <div class="owl-item active snipcss0-11-16-17 style-FA4H4" id="style-FA4H4">
                        <div class="item saler_item snipcss0-12-17-18">
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <div class="product-loop-1 product-loop-sea product-base snipcss0-13-18-19">
                                        <div class="product-thumbnail snipcss0-14-19-20">
                                            <a class="image_link display_flex snipcss0-15-20-21" href="@Url.Action("Details", "CustomerBooks", new { id = item.ProDeID})" title="@item.Book.ProName">
                                                <img src="@Url.Content(item.Book.ProImage)" class="snipcss0-16-21-22">
                                            </a>
                                            <div class="product-action clearfix hidden-xs snipcss0-15-20-23">
                                                <form action="/cart/add" method="post" class="variants form-nut-grid snipcss0-16-23-24" data-id="product-actions-16759857" enctype="multipart/form-data">
                                                    <div class="group_action snipcss0-17-24-25">
                                                        <a title="Xem nhanh" href="@Url.Action("Details", "CustomerBooks", new { id = item.ProDeID})" data-handle="how-not-to-die-discover-the-foods-scientifically-proven-to-prevent-and-reverse-disease" class="xem_nhanh btn-circle btn_view btn right-to quick-view hidden-xs hidden-sm hidden-md snipcss0-18-25-26">
                                                            <ion-icon name="eye" role="img" class="hydrated snipcss0-19-26-27" aria-label="eye">
                                                            </ion-icon>
                                                        </a>
                                                        <input type="hidden" name="variantId" value="47040032" class="snipcss0-18-25-28">
                                                        <button class="btn-buy btn-cart btn btn-circle left-to add_to_cart snipcss0-18-25-29" title="Đặt hàng ngay">
                                                            <i class="fas fa-dolly snipcss0-19-29-30">
                                                            </i>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="product-info a-left snipcss0-14-19-31">
                                            <h3 class="product-name snipcss0-15-31-32">
                                                <a href="@Url.Action("Details", "CustomerBooks", new { id = item.ProDeID})" title="How Not To Die: Discover The Foods Scientifically Proven To Prevent And Reverse Disease" class="snipcss0-16-32-33">
                                                    @item.Book.ProName
                                                </a>
                                            </h3>
                                            <div class="product-hideoff snipcss0-15-31-34">
                                                <div class="product-hide snipcss0-16-34-35">
                                                    <div class="price-box clearfix snipcss0-17-35-36">
                                                        <div class="special-price snipcss0-18-36-37">
                                                            <span class="price product-price snipcss0-19-37-38">
                                                                @String.Format("{0:0,0}", item.Price) VNĐ
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <span class="status_name availabel snipcss0-17-35-39">
                                                        <link itemprop="availability" href="http://schema.org/InStock" class="snipcss0-18-39-40">
                                                        In stock
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-nav disabled snipcss0-9-14-244">
                <div class="owl-prev disabled snipcss0-10-244-245">
                    prev
                </div>
                <div class="owl-next disabled snipcss0-10-244-246">
                    next
                </div>
            </div>
            <div class="owl-dots disabled snipcss0-9-14-247">
            </div>
        </div>
    </div>
</div>